@import url('https://fonts.googleapis.com/css2?family=Fenix&display=swap');

body {
    background: url("../images/BGLOGO.png") center center fixed no-repeat, url("../images/graygrit.png") center center repeat;
    background-size: 60vh, auto;
    background-color: #111111;
    font-family: 'Fenix', serif;
}

.navbar {
    background: url("../images/goldgrit.png") repeat;
    background-color: rgb(134, 105, 8);
    color: white;
}

.page-container {
    margin-top: 75px;
}
