@import url('https://fonts.googleapis.com/css2?family=Fenix&display=swap');

body {
    background: url("../images/BGLOGO.png") center center fixed no-repeat, url("../images/graygrit.png") center center repeat;
    background-size: 60vh, auto;
    background-color: #111111;
    font-family: 'Fenix', serif;
}

.navbar {
    background: url("../images/goldgrit.png") repeat;
    background-color: rgb(134, 105, 8);
    color: white;
    font-size: 2em;
}

section {
    margin: 15vh 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  
    scroll-snap-align: center;
}

#panelButton {
    background-color: rgba(0, 0, 0, 0.301);
    border-color: rgba(0, 0, 0, 0.301);
    border-width: 5px;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    line-height: 40px;
    cursor: pointer;
}
#panelButton > img {
    margin: 0;
    padding: 0;
    width: 40px;
    height: 40px;
}

.page-container {
    margin-top: 100px;
}

h1 {
    color: gray;
    font-size: 3em;
}

p {
    color: gray;
    font-size: 1.25em;
}

#signInBtn, #makeAcctBtn {
    color: red;
    font-size: 1.25em;
}

#homeDropdown {
    position: absolute;
    /* right: 100px; */
    

}

