@import url('https://fonts.googleapis.com/css2?family=Fenix&display=swap');

body {
    background-image: url("../images/BGLOGO.png"), url("../images/graygrit.png");
    background-repeat: no-repeat, repeat;
    background-position: center, initial;
    background-color: #3d3d3d;
    font-family: 'Fenix', serif;
}

.navbar {
    background-image: url("../images/goldgrit.png");
    background-repeat: repeat;
    background-color: rgb(150, 111, 12);
    color: white;
}

.page-container {
    margin-top: 75px;
}
